## lists and tuples

In [1]:
fav_colors = ["White", "Black"]
fav_movies = ('Avengers', 'Ironman')

In [2]:
type(fav_colors)

list

In [3]:
type(fav_movies)

tuple

In [5]:
# access
fav_movies[0]

'Avengers'

In [6]:
fav_colors[1]

'Black'

In [7]:
even_numbers = [2,4,6,8,10,12,14]
odd_numbers =  [1,3,5,7,9,11,13]

In [8]:
even_numbers[6]

14

In [9]:
odd_numbers[-1]

13

In [10]:
even_numbers

[2, 4, 6, 8, 10, 12, 14]

In [14]:
# i want only alternate items 
index = 0
# len
while index < len(even_numbers):
    if index % 2 == 0:
        print(even_numbers[index], sep="", end=",")
    index += 1

2,6,10,14,

## Slicing
* Slicing can be done by using expression `[start:end:step]`
* default value for end is size, step is 1

In [19]:
print(even_numbers)
# start from index 2
print(even_numbers[2::])
# start from 0 and print alternate values
print(even_numbers[::2])
# start from 1 and print alternative values
print(even_numbers[1::2])

[2, 4, 6, 8, 10, 12, 14]
[6, 8, 10, 12, 14]
[2, 6, 10, 14]
[4, 8, 12]

In [22]:
print(even_numbers[::-1])
print(even_numbers[4:2:-1])

[14, 12, 10, 8, 6, 4, 2]
[10, 8]

In [36]:
## list operations

even_numbers = [2,4,6]
odd_numbers = [1,3,5]
all_numbers = [1,2,3,4,5,6]

In [24]:
even_numbers + odd_numbers

[2, 4, 6, 1, 3, 5]

In [26]:
all_numbers - odd_numbers

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [27]:
even_numbers * 2

[2, 4, 6, 2, 4, 6]

In [29]:
print(even_numbers)
even_numbers[0] = 0
print(even_numbers)

[2, 4, 6]
[0, 4, 6]

In [32]:
even_numbers_tuple = tuple(even_numbers)
print(type(even_numbers_tuple))
even_numbers_tuple[0] = 2

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [33]:
all_numbers

[1, 2, 3, 4, 5, 6]

In [37]:
all_numbers.append(7)
all_numbers

[1, 2, 3, 4, 5, 6, 7]

In [38]:
all_numbers.remove(7)
all_numbers

[1, 2, 3, 4, 5, 6]

In [39]:
all_numbers[6] = 7
all_numbers[7] = 8
all_numbers

IndexError: list assignment index out of range

In [41]:
print(all_numbers)
random_numbers = [100,110]
all_numbers.extend(random_numbers)
all_numbers

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 100, 110]

In [42]:
# iterating a list
index = 0
while index < len(all_numbers):
    print(all_numbers[index])
    index += 1

1
2
3
4
5
6
100
110

# for each loop

In [43]:
for number in all_numbers:
    print(number)

1
2
3
4
5
6
100
110

In [45]:
all_numbers_tuple = tuple(all_numbers)
print(type(all_numbers_tuple))
for number in all_numbers_tuple:
    print(number)

<class 'tuple'>
1
2
3
4
5
6
100
110

In [46]:
message = "Hello"
for m in message:
    print(m)

H
e
l
l
o