### Lambda

In [1]:
double = lambda x: x * 2

In [2]:
double(4)

8

In [3]:
# Equivalent
# def double(x:int) -> int:
#     return x * 2

In [4]:
add = lambda x,y: x + y
add(4,5)

9

In [5]:
hi = lambda name: f"Hello {name}"

In [6]:
hi("sunday")

'Hello sunday'

In [7]:
numbers = [1,2,3,4,5]

In [8]:
# map

list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25]

In [ ]:
# squared_numbers = []
# for number in numbers:
#     squared_numbers.append(number * number)
# squared_numbers

[1, 4, 9, 16, 25]

In [13]:
# filter
print(numbers)
list(filter(lambda x: x%2 == 0 , numbers))

[1, 2, 3, 4, 5]

[2, 4]

In [16]:
# square of even numbers in the list
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = list(filter(lambda x: x%2 ==0, numbers))
list(map(lambda x: x**2, even_numbers))

[4, 16, 36, 64, 100]

In [15]:
# reduce
from functools import reduce
reduce(lambda x,y: x + y, even_numbers)

30

In [19]:

numbers = list(range(1,10))
print(numbers)
sum(filter(lambda x: x%3 == 0 or x % 5 == 0, numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

23

In [20]:
from functools import reduce
numbers = [ 1, 2,3,4,5]

reduce(lambda x,y: x * y, numbers)

120

## Comprehensions

In [21]:
# List comprehensions

numbers = [1,2,3,4,5]
[ number * number for number in numbers ]

[1, 4, 9, 16, 25]

In [22]:
[ number * number for number in numbers if number % 2 == 0 ]

[4, 16]

In [23]:
numbers = list(range(1,10))
sum([ number for number in numbers if number %3 == 0 or number % 5 == 0 ])

23

In [25]:
sum([ number for number in range(1,1000) if number %3 == 0 or number % 5 == 0 ])

233168

In [26]:
[ number * number for  number in range(1,11) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# lets create  dictionary with key as number and value as square of number

{ number: number * number for number in range(1,10) }

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [28]:
items = [
    {'name': 'xyz', 'price': 100.5},
    {'name': 'apple', 'price': 1.5},
    {'name': 'banana', 'price': 0.75},
    {'name': 't-shirt', 'price': 25.99},
    {'name': 'notebook', 'price': 4.5}
]

In [30]:
# sum of prices of all items
from functools import reduce
sum([ item['price'] for item in items ])

133.24

In [32]:
[ {'name': item['name'], 'price': item['price'] * 1.015 } for item in items]

[{'name': 'xyz', 'price': 102.0075},
 {'name': 'apple', 'price': 1.5225},
 {'name': 'banana', 'price': 0.76125},
 {'name': 't-shirt', 'price': 26.379849999999998},
 {'name': 'notebook', 'price': 4.5675}]

In [ ]:
def fibb_sequenc(terms: int=10) -> list[int]:
    pass