In [2]:
import pandas as pd

In [3]:
# series 1-D data
series = pd.Series([1,2,3,4,5])

In [4]:
type(series)

pandas.core.series.Series

In [5]:
# 2-D dataframe
frame = pd.DataFrame([{
    'name': 'tea',
    'price': 20
}, {
    'name': 'coffee',
    'price': 25
}])

In [6]:
type(frame)

pandas.core.frame.DataFrame

In [8]:
frame.to_csv('items.csv', header=True, index=False)

In [13]:
catalog_df = pd.read_csv('catalog.csv')

In [14]:
catalog_df

,Item_ID,Category,Item_Name,Price_INR,Is_Vegetarian,Description,Spice_Level
0,M001,Appetizer,Vegetable Samosa (2 pcs),180,True,Crisp pastry filled with spiced potatoes and p...,Medium
1,M002,Appetizer,Chicken Tikka (6 pcs),450,False,Boneless chicken marinated in yogurt and spice...,Medium
2,M003,Main Course,Butter Chicken (Murgh Makhani),650,False,"Tandoor-cooked chicken in a rich, creamy tomat...",Mild
3,M004,Main Course,Palak Paneer,550,True,Cottage cheese cubes simmered in a creamy spin...,Mild
4,M005,Main Course,Lamb Rogan Josh,780,False,A signature Kashmiri curry: slow-cooked lamb i...,Medium
5,M006,Rice/Biryani,Chicken Biryani (Hyderabadi),700,False,Layered basmati rice and marinated chicken coo...,Spicy
6,M007,Rice/Biryani,Jeera Rice,300,True,Fragrant basmati rice tossed with roasted cumi...,Mild
7,M008,Bread,Butter Naan,110,True,Leavened flatbread baked in the tandoor and br...,Mild
8,M009,Dessert,Gulab Jamun (2 pcs),190,True,Deep-fried milk solids soaked in a rose and ca...,Sweet
9,M010,Beverages,Mango Lassi,220,True,"A refreshing blend of yogurt, mango pulp, and ...",Sweet

In [16]:
catalog_df['Item_ID'] == 'M010'

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
Name: Item_ID, dtype: bool

In [17]:
catalog_df.Price_INR

0    180
1    450
2    650
3    550
4    780
5    700
6    300
7    110
8    190
9    220
Name: Price_INR, dtype: int64

In [21]:
catalog_df.iloc[0]

Item_ID                                                       M001
Category                                                 Appetizer
Item_Name                                 Vegetable Samosa (2 pcs)
Price_INR                                                      180
Is_Vegetarian                                                 True
Description      Crisp pastry filled with spiced potatoes and p...
Spice_Level                                                 Medium
Name: 0, dtype: object

In [22]:
catalog_df.loc[0]

Item_ID                                                       M001
Category                                                 Appetizer
Item_Name                                 Vegetable Samosa (2 pcs)
Price_INR                                                      180
Is_Vegetarian                                                 True
Description      Crisp pastry filled with spiced potatoes and p...
Spice_Level                                                 Medium
Name: 0, dtype: object

In [23]:
catalog_df = pd.read_csv('catalog.csv', index_col='Item_ID')

In [24]:
catalog_df.loc['M006']

Category                                              Rice/Biryani
Item_Name                             Chicken Biryani (Hyderabadi)
Price_INR                                                      700
Is_Vegetarian                                                False
Description      Layered basmati rice and marinated chicken coo...
Spice_Level                                                  Spicy
Name: M006, dtype: object

In [25]:
catalog_df.loc['M006']['Price_INR']

np.int64(700)

In [ ]:
# how to search for records where price > 100
catalog_df.loc[catalog_df['Price_INR'] > 100 ]

,Category,Item_Name,Price_INR,Is_Vegetarian,Description,Spice_Level
Item_ID,,,,,,
M001,Appetizer,Vegetable Samosa (2 pcs),180,True,Crisp pastry filled with spiced potatoes and p...,Medium
M002,Appetizer,Chicken Tikka (6 pcs),450,False,Boneless chicken marinated in yogurt and spice...,Medium
M003,Main Course,Butter Chicken (Murgh Makhani),650,False,"Tandoor-cooked chicken in a rich, creamy tomat...",Mild
M004,Main Course,Palak Paneer,550,True,Cottage cheese cubes simmered in a creamy spin...,Mild
M005,Main Course,Lamb Rogan Josh,780,False,A signature Kashmiri curry: slow-cooked lamb i...,Medium
M006,Rice/Biryani,Chicken Biryani (Hyderabadi),700,False,Layered basmati rice and marinated chicken coo...,Spicy
M007,Rice/Biryani,Jeera Rice,300,True,Fragrant basmati rice tossed with roasted cumi...,Mild
M008,Bread,Butter Naan,110,True,Leavened flatbread baked in the tandoor and br...,Mild
M009,Dessert,Gulab Jamun (2 pcs),190,True,Deep-fried milk solids soaked in a rose and ca...,Sweet
M010,Beverages,Mango Lassi,220,True,"A refreshing blend of yogurt, mango pulp, and ...",Sweet

In [30]:
catalog_df['Price_INR'] *= 1.1

In [31]:
catalog_df

,Category,Item_Name,Price_INR,Is_Vegetarian,Description,Spice_Level
Item_ID,,,,,,
M001,Appetizer,Vegetable Samosa (2 pcs),198.0,True,Crisp pastry filled with spiced potatoes and p...,Medium
M002,Appetizer,Chicken Tikka (6 pcs),495.0,False,Boneless chicken marinated in yogurt and spice...,Medium
M003,Main Course,Butter Chicken (Murgh Makhani),715.0,False,"Tandoor-cooked chicken in a rich, creamy tomat...",Mild
M004,Main Course,Palak Paneer,605.0,True,Cottage cheese cubes simmered in a creamy spin...,Mild
M005,Main Course,Lamb Rogan Josh,858.0,False,A signature Kashmiri curry: slow-cooked lamb i...,Medium
M006,Rice/Biryani,Chicken Biryani (Hyderabadi),770.0,False,Layered basmati rice and marinated chicken coo...,Spicy
M007,Rice/Biryani,Jeera Rice,330.0,True,Fragrant basmati rice tossed with roasted cumi...,Mild
M008,Bread,Butter Naan,121.0,True,Leavened flatbread baked in the tandoor and br...,Mild
M009,Dessert,Gulab Jamun (2 pcs),209.0,True,Deep-fried milk solids soaked in a rose and ca...,Sweet
M010,Beverages,Mango Lassi,242.0,True,"A refreshing blend of yogurt, mango pulp, and ...",Sweet

In [32]:
catalog_df.to_csv('newcatalog.csv')