# Lets explore sequential data types

In [1]:
name = 'Generative AI'

In [2]:
type(name)

str

In [3]:
topics = ['python', 'RAG', 'Agents']

In [4]:
type(topics)

list

In [5]:
tags = ('AI', 'ML', 'LLM')

In [6]:
type(tags)

tuple

In [7]:
for index in range(1,5):
    print(index)

1
2
3
4

In [8]:
# type casting
list(range(1,5))

[1, 2, 3, 4]

In [9]:
tuple(range(1,5))

(1, 2, 3, 4)

## Indexing

In [10]:
colors = [ 'red', 'blue', 'green', 'white', 'black' ]

In [11]:
print(colors[0])
print(colors[-1])

red
black

In [12]:
print(colors[-2])

white

In [13]:
name = 'Python'

In [14]:
name[-1]

'n'

In [15]:
numbers = (10,20,30)

In [16]:
numbers[-1]

30

In [17]:
numbers = [11,21,31,41,51,61,71,81,91]

In [18]:
numbers[::]

[11, 21, 31, 41, 51, 61, 71, 81, 91]

In [19]:
numbers[::2]

[11, 31, 51, 71, 91]

In [20]:
numbers[1::2]

[21, 41, 61, 81]

In [21]:
numbers[::-1]

[91, 81, 71, 61, 51, 41, 31, 21, 11]

In [22]:
name = 'Python'

In [23]:
name[::-1]

'nohtyP'

In [24]:
# pallendrome
text = 'madam'
if text[::-1] == text:
    print('pallendrome')

pallendrome

In [25]:
text = 'madan'
if text[::-1] == text:
    print('pallendrome')
else:
    print('not a pallendrome')

not a pallendrome

In [26]:
# find length of sequence
print(numbers)
len(numbers)

[11, 21, 31, 41, 51, 61, 71, 81, 91]

9

In [27]:
name = 'Python'
len(name)

6

In [28]:
# in and not in
'P' in 'Python'

True

In [29]:
'Q' in 'Python'

False

In [30]:
'Q' not in 'Python'

True

In [31]:
11 in numbers

True

In [32]:
# combining sequnces
n1 = [ 1, 2, 3]
n2 = [ 4,5,6 ]

In [33]:
n1 + n2

[1, 2, 3, 4, 5, 6]

In [34]:
n2 + n1

[4, 5, 6, 1, 2, 3]

In [35]:
n1 * 2

[1, 2, 3, 1, 2, 3]

In [36]:
n1 * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
n2 - n1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [50]:
n2 / n1

TypeError: unsupported operand type(s) for /: 'list' and 'list'