# Dictionary

In [1]:
address = {
    'flatno': 601,
    'building': 'Nilgiri Block',
    'area': 'Ameerpet'
}

In [2]:
address['flatno']

601

In [3]:
address

{'flatno': 601, 'building': 'Nilgiri Block', 'area': 'Ameerpet'}

In [4]:
type(address)

dict

In [5]:
address['city']

KeyError: 'city'

In [6]:
address.get('city', '')

''

In [9]:
address

{'flatno': 601, 'building': 'Nilgiri Block', 'area': 'Ameerpet'}

In [10]:
for item in address:
    print(item)

flatno
building
area

In [11]:
for item in address.values():
    print(item)

601
Nilgiri Block
Ameerpet

In [12]:
for name, value in address.items():
    print(f"{name} = {value}")

flatno = 601
building = Nilgiri Block
area = Ameerpet

In [14]:
'flatno1' in address

False

In [18]:
# find number of occurances of each character in the word

message = "excellence is not a skill, it's an attitude"
char_count_dict = {}
for char in message:
    if char not in char_count_dict:
        char_count_dict[char] = 1
    else:
        char_count_dict[char] += 1
print(char_count_dict)

{'e': 5, 'x': 1, 'c': 2, 'l': 4, 'n': 3, ' ': 7, 'i': 4, 's': 3, 'o': 1, 't': 5, 'a': 3, 'k': 1, ',': 1, "'": 1, 'u': 1, 'd': 1}

In [20]:
# Set
# list
items_list = [1, 2, 3,3]
items_tuple = (1, 2, 3,3)
items_set = {1, 2, 3, 3}

In [21]:
items_list

[1, 2, 3, 3]

In [22]:
items_tuple

(1, 2, 3, 3)

In [23]:
items_set

{1, 2, 3}

In [24]:
print(message)
list(message)

excellence is not a skill, it's an attitude

['e',
 'x',
 'c',
 'e',
 'l',
 'l',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'n',
 'o',
 't',
 ' ',
 'a',
 ' ',
 's',
 'k',
 'i',
 'l',
 'l',
 ',',
 ' ',
 'i',
 't',
 "'",
 's',
 ' ',
 'a',
 'n',
 ' ',
 'a',
 't',
 't',
 'i',
 't',
 'u',
 'd',
 'e']

In [25]:
set(message)

{' ',
 "'",
 ',',
 'a',
 'c',
 'd',
 'e',
 'i',
 'k',
 'l',
 'n',
 'o',
 's',
 't',
 'u',
 'x'}