# String methods

In [1]:
name = "Agent"
type(name)

str

In [2]:
# interpolation or formatting strings
# I want to print `Hello <name>, How are you ?`

approach_1 = "Hello "+name+", How are you ?"
approach_1

'Hello Agent, How are you ?'

In [3]:
# format
message = "Hello {}, How are you?"
message.format(name)

'Hello Agent, How are you?'

In [4]:
# f-strings
f"Hello {name}, How are you?"

'Hello Agent, How are you?'

In [5]:
name = "Test"
age = 100

f"Hello {name}, Happy Birthday, OMG you are alive at this {age}"

'Hello Test, Happy Birthday, OMG you are alive at this 100'

In [11]:
salary = 100000
f"Your monthly salary is {salary/12:.2f}"

'Your monthly salary is 8333.33'

In [12]:
# case conversion
course = "Python"

In [13]:
course.islower()

False

In [14]:
course.lower()

'python'

In [15]:
course.isupper()

False

In [16]:
course.upper()

'PYTHON'

In [17]:
a = "Python"
b = "python"

In [18]:
a == b

False

In [19]:
a.lower() == b.lower()

True

In [20]:
# i have  a text `ironman,avengers,10000$`
text = "ironman,avengers,10000$"
text.split(",")
# convert this text into array of three strings ["ironman", "avengers", "10000$"]

['ironman', 'avengers', '10000$']

In [21]:
# i have three string 
character = "ironman"
movie = "avengers"
donation = "10000$"
# I want this to be combined into `ironman,avengers,10000$`
f"{character},{movie},{donation}"

'ironman,avengers,10000$'

In [22]:
# i have a list ["ironman", "avengers", "10000$"]
# combine to form `ironman,avengers,10000$`
items = ["ironman", "avengers", "10000$"]
",".join(items)

'ironman,avengers,10000$'

In [23]:
# removing unnecessary (strip) spaces or characters
movie = "  avengers  "
movie.strip()

'avengers'

In [25]:
movie = "avengers########"
movie.strip('#')

'avengers'

In [28]:
# cases
movie="avengers infinity wars"
movie.title()

'Avengers Infinity Wars'

In [29]:
movie.capitalize()

'Avengers infinity wars'

In [30]:
movie = "Ironman"

In [31]:
movie.swapcase()

'iRONMAN'

In [32]:
email = "admin@qualitythought.com"

# find the domain name

In [33]:
def get_domain(email: str) -> str:
    return email.split('@')[-1]

In [34]:
get_domain(email)

'qualitythought.com'

In [35]:
get_domain('info.testing@xyz.com')

'xyz.com'

In [ ]:
# log file
messages = [
    "3/13/2025 10:46:23 DEBUG user ironman logged in",
    "3/13/2025 10:47:33 DEBUG user ironman changed profile pic",
    "3/13/2025 10:48:43 DEBUG user ironman changed logged out",
]

In [ ]:
# extract date and time for each log message
logs = """
192.168.1.100 - - [11/Oct/2023:15:32:45 +0000] "HEAD /index.html HTTP/1.1" 200 0 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.74 Safari/537.36 Edg/79.0.309.43"
192.168.1.100 - - [11/Oct/2023:15:33:45 +0000] "OPTIONS /api HTTP/1.1" 200 0 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.74 Safari/537.36 Edg/79.0.309.43"
192.168.1.100 - - [11/Oct/2023:15:34:45 +0000] "DELETE /api/resource HTTP/1.1" 204 0 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.74 Safari/537.36 Edg/79.0.309.43"
"""