In [1]:
from sqlalchemy.orm import DeclarativeBase

In [2]:
class Base(DeclarativeBase): pass

In [3]:
from typing import Optional
from datetime import datetime
from sqlalchemy import String, Integer, Identity, DateTime, func
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column

In [4]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [5]:
class IdentityMixin:
    id: Mapped[int] = mapped_column(
        Integer,
        Identity(start=1, increment=1),
        primary_key=True
    )

In [6]:
class TimestampMixin:
    created_at: Mapped[datetime] = mapped_column(
        DateTime(timezone=True),
        server_default=func.now(),
        nullable=False
    )
    lastupdate_at: Mapped[Optional[datetime]] = mapped_column(
        DateTime(timezone=True),
        server_default=func.now(),
        onupdate=func.now()
    )

In [7]:
class Product(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "products"

    name: Mapped[str] = mapped_column(
        String(100),
        nullable = False
    )
    sku: Mapped[str] = mapped_column(
        String(100),
        nullable = True
    )

    # Relationships
    stocks: Mapped[list["Stock"]] = relationship(
        "Product", back_populates="product", cascade="all, delete-orphan"
    )

In [8]:
class Supplier(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "suppliers"

    name : Mapped[str] = mapped_column(
        String(100),
        nullable = False
    )

    contact_name: Mapped[str] = mapped_column(
        String(100),
        nullable = False
    )

    phone : Mapped[str] = mapped_column(
        String(10),
        nullable = False
    )

    email : Mapped[str] = mapped_column(
        String(100),
        nullable = False
    )

    address : Mapped[str] = mapped_column(
        String(256),
        nullable = False
    )

In [9]:
class Warehouse(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "warehouses"
    
    name : Mapped[str] = mapped_column(
        String(100),
        nullable = False
    )

    location: Mapped[str] = mapped_column(
        String(100),
        nullable = False
    )

    # Relationships
    stocks: Mapped[list["Stock"]] = relationship(
        "Warehouse", back_populates="warehouse", cascade="all, delete-orphan"
    )

In [10]:
class Stock(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "stocks"

    product_id: Mapped[int] = mapped_column(ForeignKey("products.id"), nullable=False)
    warehouse_id: Mapped[int] = mapped_column(ForeignKey("warehouses.id"), nullable=False)
    quantity: Mapped[int] = mapped_column(
        Integer,
        default=0
    )

    # Relationship
    warehouse: Mapped["Warehouse"] = relationship("Warehouse", back_populates="stocks")
    product: Mapped["Product"] = relationship("Product", back_populates="stocks")

In [11]:
import os
CONNECTION_URL = os.getenv('INVDB_URL', 'sqlite:///inventory.db')

In [12]:
from sqlalchemy import create_engine
engine = create_engine(url = CONNECTION_URL, echo=True)

In [13]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import  relationship

class User(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "users"
    username: Mapped[str] = mapped_column(
        String(100),
        nullable = False
    )

    # logical field
    posts: Mapped[list["Post"]] = relationship(
        "Post", back_populates="user", cascade="all, delete-orphan"
    )

In [14]:


class Post(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "posts"
    post:  Mapped[str] = mapped_column(
        String(100),
        nullable = False
    )
    user_id: Mapped[int] = mapped_column(
        Integer,
        ForeignKey('users.id'),
        nullable=False
    )
    # logical field
    user: Mapped["User"] = relationship("User", back_populates="posts")

In [15]:
# Student model
class Student(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "students"

    name: Mapped[str] = mapped_column(String(50), nullable=False)
    enrollments: Mapped[list["Enrollment"]] = relationship(
        "Enrollment", back_populates="student", cascade="all, delete-orphan"
    )


class Course(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "courses"

    title: Mapped[str] = mapped_column(String(100), nullable=False)
    enrollments: Mapped[list["Enrollment"]] = relationship(
        "Enrollment", back_populates="course", cascade="all, delete-orphan"
    )

In [16]:
class Enrollment(IdentityMixin, TimestampMixin, Base):
    __tablename__ = "enrollments"

    student_id: Mapped[int] = mapped_column(ForeignKey("students.id"), nullable=False)
    course_id: Mapped[int] = mapped_column(ForeignKey("courses.id"), nullable=False)

    
    # Relationships
    student: Mapped["Student"] = relationship("Student", back_populates="enrollments")
    course: Mapped["Course"] = relationship("Course", back_populates="enrollments")

In [17]:
Base.metadata.create_all(engine)

2025-10-19 10:48:21,380 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-10-19 10:48:21,382 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("products")
2025-10-19 10:48:21,383 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,386 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("products")
2025-10-19 10:48:21,388 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,390 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("suppliers")
2025-10-19 10:48:21,391 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,392 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("suppliers")
2025-10-19 10:48:21,392 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,393 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("warehouses")
2025-10-19 10:48:21,394 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,394 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("warehouses")
2025-10-19 10:48:21,395 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,395 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2025-10-19 10:48:21,396 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,397 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2025-10-19 10:48:21,397 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,397 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2025-10-19 10:48:21,398 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,398 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2025-10-19 10:48:21,399 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,399 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("posts")
2025-10-19 10:48:21,399 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,400 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("posts")
2025-10-19 10:48:21,400 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,401 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2025-10-19 10:48:21,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,402 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2025-10-19 10:48:21,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,404 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("courses")
2025-10-19 10:48:21,404 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,405 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("courses")
2025-10-19 10:48:21,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,406 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("enrollments")
2025-10-19 10:48:21,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,408 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("enrollments")
2025-10-19 10:48:21,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-10-19 10:48:21,411 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	name VARCHAR(100) NOT NULL,
	sku VARCHAR(100),
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id)
)


2025-10-19 10:48:21,413 INFO sqlalchemy.engine.Engine [no key 0.00225s] ()
2025-10-19 10:48:21,423 INFO sqlalchemy.engine.Engine
CREATE TABLE suppliers (
	name VARCHAR(100) NOT NULL,
	contact_name VARCHAR(100) NOT NULL,
	phone VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	address VARCHAR(256) NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id)
)


2025-10-19 10:48:21,425 INFO sqlalchemy.engine.Engine [no key 0.00180s] ()
2025-10-19 10:48:21,434 INFO sqlalchemy.engine.Engine
CREATE TABLE warehouses (
	name VARCHAR(100) NOT NULL,
	location VARCHAR(100) NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id)
)


2025-10-19 10:48:21,435 INFO sqlalchemy.engine.Engine [no key 0.00157s] ()
2025-10-19 10:48:21,445 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	username VARCHAR(100) NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id)
)


2025-10-19 10:48:21,446 INFO sqlalchemy.engine.Engine [no key 0.00129s] ()
2025-10-19 10:48:21,453 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	name VARCHAR(50) NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id)
)


2025-10-19 10:48:21,455 INFO sqlalchemy.engine.Engine [no key 0.00150s] ()
2025-10-19 10:48:21,462 INFO sqlalchemy.engine.Engine
CREATE TABLE courses (
	title VARCHAR(100) NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id)
)


2025-10-19 10:48:21,463 INFO sqlalchemy.engine.Engine [no key 0.00120s] ()
2025-10-19 10:48:21,471 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	product_id INTEGER NOT NULL,
	warehouse_id INTEGER NOT NULL,
	quantity INTEGER NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id),
	FOREIGN KEY(product_id) REFERENCES products (id),
	FOREIGN KEY(warehouse_id) REFERENCES warehouses (id)
)


2025-10-19 10:48:21,472 INFO sqlalchemy.engine.Engine [no key 0.00128s] ()
2025-10-19 10:48:21,479 INFO sqlalchemy.engine.Engine
CREATE TABLE posts (
	post VARCHAR(100) NOT NULL,
	user_id INTEGER NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2025-10-19 10:48:21,481 INFO sqlalchemy.engine.Engine [no key 0.00125s] ()
2025-10-19 10:48:21,488 INFO sqlalchemy.engine.Engine
CREATE TABLE enrollments (
	student_id INTEGER NOT NULL,
	course_id INTEGER NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL,
	lastupdate_at DATETIME DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (id),
	FOREIGN KEY(student_id) REFERENCES students (id),
	FOREIGN KEY(course_id) REFERENCES courses (id)
)


2025-10-19 10:48:21,489 INFO sqlalchemy.engine.Engine [no key 0.00124s] ()
2025-10-19 10:48:21,496 INFO sqlalchemy.engine.Engine COMMIT